<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/" />
    <title>Hipflix - VHS. Delivered</title>
    <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <script src="/lodash/index.js"></script>
    <script src="/angular/angular.js"></script>
    <script src="/angular-animate/angular-animate.js"></script>
    <script src="/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/angular-ui-bootstrap/ui-bootstrap.js"></script>
    <script src="/angular-ui-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="/socket.io-client/socket.io.js"></script>
    <script src="/main.js"></script>
</head>
<body ng-app="Hipflix" page-loader>
    <navbar></navbar ng-hide="loader">
    <div class="container">
        <img class="img-responsive" ng-show="loader" src="loading.gif">
    </div>
    <div id="main" ui-view ng-hide="loader"></div>
</body>
</html>
