<div class="container">
    <div class='col-md-10 col-centered'>
        <div class="page-header">
            <h3>Add Subscription</h3>
        </div>
        <div class="col-xs-12 well">
            <form class="form-inline" name="newSubscription" ng-submit="addSubscription(newSubscription)">
                <div class="form-group col-xs-12">
                    <label class="control-label col-xs-2">Subscription Name:</label>
                    <div class="col-xs-12">
                        <input class="form-control col-xs-6" type="text" ng-model="newSubscription.plan" placeholder="Subscription Plan Name">
                    </div>
                    <label class="control-label col-xs-2">Subscription Price:</label>
                    <div class="col-xs-12">
                        <input class="form-control col-xs-6" type="number" ng-model="newSubscription.price" placeholder="Subscription Price">
                    </div>
                    <label class="control-label col-xs-2">Subscription Allowance:</label>
                    <div class="col-xs-12">
                        <input class="form-control col-xs-6" type="number" ng-model="newSubscription.allowance" placeholder="Subscription allowance">
                    </div>
                </div>
                <button class="btn btn-primary btn-submit" type="submit">Add</button>
            </form>
            {{newSubscription.plan}}
        </div>
    </div>
</div>
