<div class="container">
	<div class="row row-centered">
		<div class="col-xs-10 col-centered">
			<ul class="list-inline">
				<li class="block-item col-xs-3" ng-click="goToPage('addmovie')">
					<div class="block-content col-xs-12">
					<span class="glyphicon glyphicon-film"></span>
					<p>Add Movie</p>
					</div>
				</li>
				<li class="block-item col-xs-3" ng-click="goToPage('newcategory')">
					<div class="block-content col-xs-12">
					<span class="glyphicon glyphicon-tags"></span>
					<p>Add Category</p>
					</div>
				</li>
				<li class="block-item col-xs-3" ng-click="goToPage('adduser')">
					<div class="block-content col-xs-12">
					<span class="glyphicon glyphicon-user"></span>
					<p>Add User</p>
					</div>
				</li>
				<li class="block-item col-xs-3" ng-click="goToPage('addsubscription')">
					<div class="block-content col-xs-12">
					<span class="glyphicon glyphicon-usd"></span>
					<p>Add Subscription</p>
					</div>
				</li>
			</ul>

		</div>
	</div>
</div>