<div id="movie-item" class="col-xs-3 movie-box ">
	<div class="panel panel-default movie-content">
		<div class="text-center"><img style="height: 150px" ng-repeat="photo in movie.photos" class="img-thumbnail" ng-src="{{photo}}"></div>
		<div class="panel-body">
			<div class="list-group">
				<div class="list-group-item"><strong>{{item.title}}</strong></div>

			</div>
			<div class="list-group">
				<div class="list-group-item">
					<button class="btn btn-warning" ng-click="removeMovie(item)"/>Remove</button>
				</div>
				
			
			</div>
		</div>
	</div>
</div>