<!-- <div class="col-xs-3">
	<div class="panel panel-default">
		<div class="well text-center" style="height: 150px">Image</div>
		<div class="panel-body">
			<div class="list-group">
				<div class="list-group-item"><strong>{{item.movie.title}}</strong></div>
				<div class="list-group-item">{{item.status}}</div>
			</div>
		</div>		
	</div>
</div> -->


<div id="movie-item" class="col-xs-3 movie-box ">
	<div class="panel panel-default movie-content">
		<div class="text-center"><img style="height: 150px" ng-repeat="photo in item.movie.photos" class="img-thumbnail" ng-src="{{photo}}"></div>
		<div class="panel-body">
			<div class="list-group">
				<div class="list-group-item"><strong>{{item.movie.title}}</strong></div>
				<div class="list-group-item"><a ui-sref="movie({movieId: item.movie._id})">Leave a Review</a></div>
			</div>
					<nav ng-show="item.status === 'pending'">
						<ul class="pagination">
							<li>
								<a href="#" aria-label="Previous">
									<span aria-hidden="true">&laquo;</span>
								</a>
							</li>
							<li class="active"><a href="#" >{{item.priority}}</a></li>
							<li>
								<a href="#" aria-label="Next">
									<span aria-hidden="true">&raquo;</span>
								</a>
							</li>
						</ul>
					</nav>
			<div class="list-group" ng-show="false">
				<div class="list-group-item">
					<button class="btn btn-warning" ng-click="removeMovie(item)"/>Remove</button>
				</div>
				
			
			</div>
		</div>
	</div>
</div>