/* centered columns styles */
.form-horizontal .form-group {
    margin-right: 10px;
    margin-left: 10px;
}

.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

.block-item {
  //display: block;
  
}
.block-content {
  min-height: 100px;
  text-align: center;
  margin: 5px;
  padding: 5px;
  background-color: #F9F9F9;
  border: 2px solid #59323C;
  span {
    line-height: 50px;
    font-size: 1.6em;
    width: 100%;
  }

}
#movie-item {
  .panel{

    background-color: #EDEDED;
  }
}

#queue-item {
  min-height: 300px;
  .movie-content {

  }
}

.content-box {
  //background-color: #F9F9F9;
}

.movie-box {
  height: 450px;
  display: inline-block;
  margin-bottom: 10px;
}

#movie-item:hover {
  img {
    opacity: 0.7;
  }
  cursor: pointer;
}
.small-movie-box {
  height: auto;
  min-width: 200px;
  display: inline-block;
  margin-bottom: 20px;
}

.movie-content {
  padding-top: 5px;
  height: 100%;
  box-shadow: 5px 5px 5px #260126 !important;

}
// .movie-content:hover {
//   padding-top: 5px;
//   height: 100%;
//   box-shadow: 10px 10px 10px #888888 !important;

// }

.movie-content-small {
  padding: 0px;
  height: auto;
  margin-right: 20px;
  box-shadow: 5px 5px 5px #260126 !important;
  img {
    height:230px;
  }

}

#movie-link {

}

.movie-link:hover {
  cursor: pointer;
  border: 3px solid;
}


/*Movie item--------*/


.movie-hover {
  .movie-content {
    background-color: #F9F9F9;
  }
  //padding-left: 18px;
  //padding-right: 18px;
  padding: 3px 18px;
  cursor: pointer;
  

}



#payment-form {
  margin-left: 20px;
  margin-right:20px;
}