/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

.block-item {
  //display: block;
  
}
.block-content {
  min-height: 100px;
  text-align: center;
  margin: 5px;
  padding: 5px;
  background-color: lightgrey;
  border: 2px solid grey;
  span {
    line-height: 50px;
    font-size: 1.6em;
    width: 100%;
  }

}

.movie-box {
  height: 450px;
  display: inline-block;
  margin-bottom: 10px;
}

.movie-content {
  padding-top: 5px;
  height: 100%;
  box-shadow: 5px 5px 5px #888888 !important;

}

#movie-link {

}

.movie-link:hover {
  cursor: pointer;
  border: 3px solid;
}


/*Movie item--------*/
.red {
  color: red;
  background-color: blue;
}

.movie-hover {
  .movie-content {
    background-color: #F9F9F9;
  }
  //padding-left: 18px;
  //padding-right: 18px;
  padding: 3px 18px;
  cursor: pointer;
  

}