@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@import 'directives/main';
@import 'home/main';
@import 'about/main';
@import 'tutorial/main';
@import 'login/main';
@import 'custom/main';
@import 'template/main';
@import 'fonts/main';
@import 'custom/animate';
<<<<<<< HEAD
@import 'custom/modal';
=======
@import 'custom/henry';
>>>>>>> master

* {
  box-sizing: border-box;
}

body {
  // background-image: url('loading.gif') !important;

}



.body-loading {
  background-color: grey;
}
.body-background {
  background-image: url('03AG.jpg') !important;
  background-size: 25% !important; 
  background-repeat: cover;

}

.movie-queue {
  background-color: rgba(100, 100, 100, 0.8);
  border: 2px solid rgba(200, 200, 200, 0.8);
  padding: 20px;
}

#main {
  padding: 180px 30px 20px 30px;
  margin: 0 auto;
}
.logo {
  position: relative;
  top: -10px;
}

#custom-nav {
	//height: 200px;
	background-color: #fff;
  background-image: url('04G.jpg') !important;
  background-size: 25% !important; 
  background-repeat: repeat;
  color: white;
  border-bottom: 1px solid grey;
  a {
    color: white;
  }
  a.active {
    color: grey;
  }
}
navbar {
  .container {
    padding-top: 0px;
  }
}

#custom-collapse {
  position: relative;
  top: 30px;
}




