@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@import 'directives/main';
@import 'home/main';
@import 'about/main';
@import 'tutorial/main';
@import 'login/main';
@import 'custom/main';
@import 'template/main';
@import 'fonts/main';
@import 'custom/animate';
@import 'custom/modal';
@import 'custom/henry';
@import 'custom/admin';

* {
  box-sizing: border-box;
}

hr {
  background-color: #260126;
  color: #260126;
  border-color: #260126;
}

body {
  // background-image: url('loading.gif') !important;
  background-color: #8C6954;
  background-image:
  repeating-linear-gradient(120deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
  repeating-linear-gradient(60deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
  linear-gradient(60deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1)),
  linear-gradient(120deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1));
  background-size: 70px 120px;

}

.panel {
  border-bottom: 1px solid #59323C;
}


//fixes ui-bootstrap h-ref css
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }



.body-loading {
  background-color: grey;
}
.body-background {
  // background-image: url('03AG.jpg') !important;
  //background-size: 25% !important; 
  //background-repeat: cover;

}

.movie-queue {
  background-color: rgba(100, 100, 100, 0.8);
  border: 2px solid rgba(200, 200, 200, 0.8);
  padding: 20px;
}

#main {
  padding: 180px 30px 20px 30px;
  margin: 0 auto;
}
.logo {
  position: relative;
  top: -10px;
}

#custom-nav {
	//height: 200px;

  background:
  linear-gradient(135deg, #59323C 22px, #260126 22px, #260126 24px, transparent 24px, transparent 67px, #59323C 67px, #260126 69px, transparent 69px),
  linear-gradient(225deg, #59323C 22px, #260126 22px, #260126 24px, transparent 24px, transparent 67px, #59323C 67px, #260126 69px, transparent 69px)0 64px;
  background-color:#59323C;
  background-size: 64px 128px;
  color: #F2EEB3;
  border-bottom: 1px solid #F2EEB3;
  a {
    color: #F2EEB3;
  }
  a:hover {
    color: #BFAF80;
  }
  a.active {
    color: #8C6954;
  }
}
navbar {
  .container {
    padding-top: 0px;
  }
}

#custom-collapse {
  position: relative;
  top: 30px;
}

// .img-thumbnail {
//  // width: 100%;
//   background-image: url('poster.jpg');
//   background-size: cover;
//   width: 50%;
//   height: auto;
// }



