@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@import 'directives/main';
@import 'home/main';
@import 'about/main';
@import 'tutorial/main';
@import 'login/main';
@import 'custom/main';
@import 'template/main';
@import 'fonts/main';
@import 'custom/animate';
@import 'custom/modal';
@import 'custom/henry';
@import 'custom/admin';

* {
  box-sizing: border-box;
}

hr {
  background-color: #260126;
  color: #260126;
  border-color: #260126;
}

body {
  background:
  linear-gradient(-45deg, white 25%, transparent 25%, transparent 75%, #DBDBDB 75%, #DBDBDB) 0 0,
  linear-gradient(-45deg, #DBDBDB 25%, transparent 25%, transparent 75%, white 75%, white) 1em 1em,
  linear-gradient(45deg, #DBDBDB 17%, transparent 17%, transparent 25%, #DBDBDB 25%, #DBDBDB 36%, transparent 36%, transparent 64%, #DBDBDB 64%, #DBDBDB 75%, transparent 75%, transparent 83%, #DBDBDB 83%) 1em 1em;
  background-color: white;
  background-size: 2em 2em;

}

.panel {
  border-bottom: 1px solid #59323C;
}


//fixes ui-bootstrap h-ref css
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }



.body-loading {
  background-color: grey;
}
.body-background {
  // background-image: url('03AG.jpg') !important;
  //background-size: 25% !important; 
  //background-repeat: cover;

}

.movie-queue {
  background-color: rgba(100, 100, 100, 0.8);
  border: 2px solid rgba(200, 200, 200, 0.8);
  padding: 20px;
}

#main {
  padding: 180px 30px 20px 30px;
  margin: 0 auto;
}
.logo {
  position: relative;
  top: -10px;
}

#custom-nav {
	//height: 200px;

  background:
  linear-gradient(135deg, #121212 22px, #454545 22px, #454545 24px, transparent 24px, transparent 67px, #454545 67px, #454545 69px, transparent 69px),
  linear-gradient(225deg, #121212 22px, #454545 22px, #454545 24px, transparent 24px, transparent 67px, #454545 67px, #454545 69px, transparent 69px)0 64px;
  background-color:#121212;
  background-size: 64px 128px;
  color: white;
  border-bottom: 1px solid #F2EEB3;
  a {
    color: white;
  }
  a:hover {
    color: #BFBCB2;
  }
  a.active {
    color: #B3B3B3;
  }
}
navbar {
  .container {
    padding-top: 0px;
  }
}

#custom-collapse {
  position: relative;
  top: 30px;
}

// .img-thumbnail {
//  // width: 100%;
//   background-image: url('poster.jpg');
//   background-size: cover;
//   width: 50%;
//   height: auto;
// }



