<div class="container" id="single-movie">
	<div class="col-xs-10 col-centered">
		<div class="panel well">
			<div class="container-fluid panel-body">
				<div class="row">
					<div class="col-xs-3">
						<img ng-repeat="photo in movie.photos" class="img-thumbnail" ng-src="{{photo}}">
					</div>
					<div class="col-xs-9">
						<div class="list-group">
							<div class="list-group-item"><h4>{{movie.title}}</h4><p>{{movie.year}}</p></div>
							<div class="list-group-item">
								<h5>Genre:</h5>
								<p style="display:inline-block; padding-right:5px" ng-repeat="category in movie.category">{{category.name}}</p>
								<h5>Duration:</h5>
								<p>{{movie.duration}} minutes</p>
								<div ng-show='movieTrailer'>
									<h5>Trailer:</h5>
									<iframe width="90%" height="315px" title="YouTube video player" class="youtube-player" type="text/html" ng-src='{{movieTrailer}}' frameborder="0" allowfullscreen>{{ movie.title }}</iframe>
								</div>

							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="list-group">
						<div class="list-group-item">{{movie.description}}</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-8">
					<button type="button" class="btn btn-default" ng-click="isCollapsed = !isCollapsed">Reviews</button>
					</div>
					<div class="col-xs-4">

						<div class="list-group col-xs-12">
							<div class="list-group-item">
								<button class="btn btn-primary" ng-click="addToQueue()">Add To Q</button>
							</div>
							<div class="list-group-item" ng-show="isUser">
								<button class="btn btn-primary" ui-sref="addReview({movieId: movie._id})">Write Review</button>
								
							</div>
							<div class="list-group-item" ng-show="isUser">
								<hf-queue-window></hf-queue-window>
							</div>
						</div>
						
					</div>
				</div>
			</div>
		<div uib-collapse="isCollapsed">
			<div class="panel well">
				<div class="list-group">
					<div class="list-group-item" ng-repeat="review in movie.reviews">
					<h3>{{review.title}}</h3>
					<h4>{{review.rating}}/5</h4>
					<p>{{review.content}}</p>
					<small style="font-style: italic;">By: {{review.user.first}}</small>
					</div>
				</div>
			</div>
		</div>
		</div>
	</div>
</div>