<div class="container">
	<div class="col-xs-10 col-centered">
		<div class="panel well">
			<div class="container-fluid panel-body">
				<div class="row">
					<div class="col-xs-3">
						<img ng-repeat="photo in movie.photos" class="img-thumbnail" ng-src="{{photo}}">
					</div>
					<div class="col-xs-9">
						<div class="list-group">
							<div class="list-group-item"><h4>{{movie.title}}</h4><p>{{movie.year}}</p></div>
							<div class="list-group-item">
								<h5>Genre:</h5>
								<p style="display:inline-block; padding-right:5px" ng-repeat="category in movie.category">{{category.name}}</p>
								<h5>Duration:</h5>
								<p>{{movie.duration}}</p>
								<h5>Trailer:</h5>
								<a ng-src="{{movie.trailer}}">{{movie.title}}</a>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="list-group">
						<div class="list-group-item">{{movie.description}}</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-8">
					</div>
					<div class="col-xs-2">
						<button class="btn btn-primary" ng-click="addToQueue()">Add To Q</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>